// Colors
$white: #ffffff;
$black: #000000;
$violet: #33568c;
$grey: #ededef;
$light-grey: #d6d6d6;
$dimmed-gray: #f7f7f7;
$dark-gray: #111111;
$blue-shadow: #ccefff;
$light-blue: #2eaeeb;
$blue: #3e80e1;
$dark-blue: #33588d;
$pink: #fc5c7e;
$dark: #3f3f41;
// storefront theme colors
$storefront-purple: #7d3f71;
$storefront-grey: #333333;
$storefront-price-grey: #6d6d6d;

//Background colors
$background-color: #1158bd;





